.container {
  position: relative;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}
@media (max-width: 628px) {
  .container {
    font-size: 18px;
  }
}
.container:active {
  top: 1px;
  left: 1px;
}
