ul {
  display: flex;
  padding-left: 0;
}
li {
  position: relative;
  list-style-type: none;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  color: #474955;
  cursor: pointer;
  user-select: none;
}
@media (max-width: 628px) {
  li {
    font-size: 14px;
  }
}
li:active {
  top: 1px;
  left: 1px;
}
li:not(:last-child) {
  margin-right: 20px;
}
